<!DOCTYPE html>
<html>
<head>
    <title>Express Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
        body {
            padding-top: 50px;
        }
    </style>
</head>
    <body>
        <div class="col-sm-8 col-sm-offset-2">
            <div class="jumbotron text-center">
                <img src="img/Silph-Research.png" alt="Silph research Logo"/>
                <h1>The SilphRoad research Group <br/>The WeatherMan Project</h1>
                <p class="lead">Access to this project is restricted<br/> If you would like to participate, go Ask on the SilphRoad Science and research Discord</p>
                <a href="/login" class="btn btn-discord-connect">Connect with Discord</a>
            </div>
    </body>

</html>