<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body class="container">

    <header>
        <% include partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p><%= JSON.stringify(user) %></p>
            <a href="/cell/id" >go to cell "id"</a>
        </div>
    </main>

    <footer>
        <% include partials/footer %>
    </footer>

</body>

</html>