<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Super Awesome</title>
    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
    <script src="js/leaflet-providers.js"></script>
    <style>
        body {
            padding-top: 50px;
        }
        #mapid { height: 480px; }
    </style>
</head>

<body class="container">

    <header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
        
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Brand</a>
                </div>
        
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
        
            </div>
        </nav>
    </header>

    <main>
        <div id="mapid"></div>
    </main>

    <footer>
        <p class="text-center text-muted">
            The Silph Road (v1.0.0)</p>
    </footer>
<script>

    var mymap = L.map('mapid').setView([37.8, -96], 4);
    var Esri_WorldTopoMap = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri &mdash; Esri, DeLorme, NAVTEQ, TomTom, Intermap, iPC, USGS, FAO, NPS, NRCAN, GeoBase, Kadaster NL, Ordnance Survey, Esri Japan, METI, Esri China (Hong Kong), and the GIS User Community'
        });

    Esri_WorldTopoMap.addTo(mymap);
    var myLayer = L.geoJSON().addTo(mymap);

    function onMapClick(e) {
        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: '/map/S2Cell?lat='+ e.latlng.lat + "&lng="+e.latlng.lng,
            success: function (data) {
                console.log(data);
                if (myLayer) {
                    mymap.removeLayer(myLayer);
                }
                myLayer = new L.geoJSON(data).addTo(mymap);
            }
        });
    }

    mymap.on('click', onMapClick);


</script>
</body>

</html>